:root{
    --fuente: 'Lato', sans-serif;

    --titulo: #2f2e41;
    --subtitulo: #5d6778;
    --white: #ffffff;
    --fondo: #f5f6fe;
    --uno: #6c63ff;
    --dos: #4550e6;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: var(--white);
    margin: 0;
    font-family: var(--fuente);
}
p{
    text-align: center;
    font-weight: 300;
    color: var(--subtitulo);
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: var(--titulo);
}
h2{
    font-size: 30px;
    font-weight: 700;
    color: var(--titulo);
}
h3{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: var(--subtitulo);
    margin-top: 0;
}
.logo {
    width: 150px;
    margin: 0;
    padding: 0;

    filter: brightness(1.1);
    mix-blend-mode: multiply;
    padding: 3px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--fondo);
}
.span{
    text-transform: uppercase;
}
.cuerpo{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.cuerpo-img{
    width: 25%;
}
.cuerpo-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.button{
    outline: 0;
    border: 0;
    padding: 10px;
    margin: 20px;
    background-color: var(--uno);
    color: whitesmoke;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.button:hover{
    cursor: pointer;
    background-color: var(--dos);
}

@media (max-width: 425px) {
    .cuerpo{
        flex-direction:column-reverse;
        align-items: center;
    }
    .cuerpo-img{
        width: 50%;
    }
}

.section{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-art{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 50px;
}
.section-art_div{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-img{
    width: 50%;

    filter: brightness(1.1);
    mix-blend-mode: multiply;
    padding: 3px;
}